.inspector {
  background-color: black;
}

body {
  margin: 0px;
}
.container-area {
  overflow: auto;
}
.container-area .editor-container {
  float: left;
  width: 9999999px;
  height: 9999999px;
}
.container-area .editor-container .editor-node {
  min-width: 200px;
  min-height: 60px;
  max-width: 600px;
  position: relative;
  background-color: #555;
  border-radius: 5px;
  color: white;
}
.container-area .editor-container .editor-node .content {
  width: 100%;
  padding: 5px;
}
.container-area .editor-container .editor-node .left-handle {
  width: 10px;
  height: 15px;
  border-radius: 15px 0px 0px 15px;
  background-color: blue;
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
}
.container-area .editor-container .editor-node .right-handle {
  width: 10px;
  height: 15px;
  border-radius: 0px 15px 15px 0px;
  background-color: green;
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
}

.editor-sidebar {
  width: 300px;
  height: 100%;
  float: left;
  background-color: #888;
}
.editor-sidebar .sidebar-item {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
.editor-sidebar .sidebar-item .button-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-family: sans-serif;
}
