body
{
  margin: 0px;
}
.container-area
{
  overflow: auto;
  .editor-container
  {
    float:left;
    width: 9999999px;
    height: 9999999px;

    .editor-node
    {

      min-width: 200px;
      min-height: 60px;
      max-width: 600px;
      position: relative;
      background-color: #555;
      border-radius: 5px;
      color: white;

      .content
      {
        width: 100%;
        padding: 5px;
      }

      .left-handle
      {
        width: 10px;
        height: 15px;
        border-radius: 15px 0px 0px 15px;
        background-color: blue;
        position: absolute;
        top: 50%;
        left: -10px;
        transform: translateY(-50%);
      }

      .right-handle
      {
        width: 10px;
        height: 15px;
        border-radius: 0px 15px 15px 0px;
        background-color: green;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
      }
    }
  }
}
