@sidebar-color: #888;
.editor-sidebar
{
  width: 300px;
  height: 100%;
  float: left;
  background-color: @sidebar-color;

  .sidebar-item
  {
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    .button-text
    {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      font-family: sans-serif;
    }
  }
}
